<h1>Productos</h1>
<div>
    {{#if products}}
        {{#each products}}
            <div>
                <h2>Producto</h2>
                <p>{{this.title}}</p>
                <h2>Precio</h2>
                <p>${{this.price}}</p>
                <h2>Foto</h2>
                <img src="{{this.thumbnail}}" alt="Product image">
            </div>
        {{/each}}
    {{else}}
        <h2>No hay productos</h2>
    {{/if}}
</div>