<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1>Productos</h1>
    <div>
        <% products.forEach(function(p) { %>
            <div>
                <p><% p.title %></p>
                <h2>Precio</h2>
                <p>$<% p.price %></p>
                <h2>Foto</h2>
                <img src=<% p.thumbnail %> alt="Product image">
            </div>
        <% }); %>
    </div>
</body>
</html>